.su-logo {
  color: #fff;
  font-family: Righteous;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.discreption {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
.ldiscreption {
  color: #8692a6;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
.f__h1 {
  color: #000;
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.label-dis {
  color: #8692a6;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 400px;
}
.lg-logo {
  color: #1565d8;
  font-family: Righteous;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
